/*********************** Global ***********************/
body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 14px;
}

li {
	color: #595959;
	font-style: none;
	list-style: none;
}

.wrapper {
	width: 80%;
	margin-left: 130px;
}

ul {
	-webkit-margin-before:0em;
	-webkit-margin-after:0em;
}

/*********************** Header ***********************/

#topContainer {
	background-color: #faf9f5;
	height: 120px;
}

#topContainer .logo {
	width: 100px%;
	float: left;
	margin: 15px 10px 10px 8px;
}

.searchbar input {
	width: 600px;

	padding:14px 15px;
	margin: 20px 5px 5px 5px;
    background:#fff; 
    border:1px #ccc solid;
    cursor:pointer;
    border-radius: 0;
}

.logo-search:after {
	content: "";
	display: block;
	clear: both;
}

#headerNav li {
	display: inline-block;
	padding: 0 10px;
}

#topLeftNav {
	width: 400px;
	float: left;
	padding-left: 110px;
	margin-bottom: 10px;
}

#topRightNav {
	width: 200px;
	float: left;
	padding-left: 100px;
}


/*********************** Search ***********************/

.searchButtons {
	display: flex;
	justify-content: center;
	margin-top: 25px;
}

.searchButtons button {
	border-radius: 0;
	padding:8px 14px;
	margin: 0 5px;
	background-color: #eee;
	border: 0 none;
	color: #666;
	font-weight: normal;
}

/*********************** Bottom Links***********************/

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   background:#faf9f5;
}

#bottomLeftLinks {
	width: 50%;
	float: left;
}

#bottomRightLinks {
	width: 50%;
	float: right;
}

#bottomLeftLinks li {
	display: inline;
	float: left;
	margin: 0 10px;
	padding-top: 5px;
}

#bottomRightLinks li {
	display: inline;
	float: right;
	margin: 0 10px;
	padding-top: 5px;
}

#bottomRightLinks ul {
	padding-right: 40px;
}