/*********************** Global ***********************/
body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 14px;
}

li {
	color: #595959;
	font-style: none;
	list-style: none;
}

.wrapper {
	width: 80%;
	margin-left: 130px;
}

ul {
	-webkit-margin-before:0em;
	-webkit-margin-after:0em;
}

/*********************** Header ***********************/

#topContainer {
	background-color: #faf9f5;
	height: 120px;
}

#topContainer .logo {
	width: 100px%;
	float: left;
	margin: 15px 10px 10px 8px;
}

.searchbar input {
	width: 600px;

	padding:14px 15px;
	margin: 20px 5px 5px 5px;
    background:#fff; 
    border:1px #ccc solid;
    cursor:pointer;
    border-radius: 0;
}

.logo-search:after {
	content: "";
	display: block;
	clear: both;
}

#headerNav li {
	display: inline-block;
	padding: 0 10px;
}

#topLeftNav {
	width: 400px;
	float: left;
	padding-left: 110px;
	margin-bottom: 10px;
}

#topRightNav {
	width: 200px;
	float: left;
	padding-left: 100px;
}

header:after {
	content: "";
	display: block;
	clear: both;
}

/*********************** Search Results ***********************/

.wrapper {
	width: 620px;
	margin-left: 155px;
}

#mainResult {
	border: 1px solid #ccc;
	margin-top: 40px;
	padding: 0 20px;
}

#mainResult li {
	list-style: initial;
	color: #000;
	font-size: 1.3em;
}

#mainResult h2 {
	margin: 15px 0 10px 0;
	font-size: 1.1em;
}

.result {
	width: 96%;
	margin-right: auto;
	margin-left: auto;
}

.result h3 {
	margin: 40px 0 0 0;
	padding: 0;
}

.result p {
	margin: 0;
	padding: 0;
}

/*********************** Bottom Links***********************/

footer {
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   background:#faf9f5;
   margin-top: 40px;
   padding-top: 20px;
}

#bottomLinks li {
	display: inline-block;
	padding: 10px 10px 0 10px;
}

#bottomLinks ul {
	-webkit-padding-start: 0px;
}